.git
~*
db
docs
.env
.envrc
__pycache__/
*.py[cod]
*.egg-info/
*.pip-cache/
pip-wheel-metadata/
dist/
build/
node_modules/
*.log
logs/
.idea/
.vscode/
*.swp
*.swo
.venv/
.cache/
.mypy_cache/
.ruff_cache/
.tox/
.pytest_cache/
