[flake8]
max-line-length = 120
max-complexity = 12
max-nesting-depth = 12

ignore =
    # black formatting related
    # whitespace before ':'
    E203,
    # line too long
    E501,
    # line break before binary operator
    W503,
    # may be undefined, or defined from star imports
    F405,
    # lamda expressions
    E731,
    # too complex # TODO: fix this
    C901,
    # TODO
    F401,
    F403,
    
