.vscode
.pdm_python
~*
node_modules
*.pyc
DATA/
build
/dist
media/
*.egg*
celerybeat-schedule
coverage.xml
!.coveragerc
!.dockerignore
!.flake8
!.gitignore
!.mypy.ini
!.pre-commit-config.yaml

pdm.toml
