.*
~*
!.gitignore
!.flake8
!.isort.cfg
!.pre-commit-config.yaml
!.dockerignore
*.pyc

build
~build
/dist
static/*
media
*.egg*
celerybeat-schedule

.env
.envrc

.tox
.pytest_cache
.coverage
coverage.xml

**/hope_country_report/static
.DS_Store