include README.md
include MANIFEST.in
include CONTRIBUTING.md
include LICENSE
include *.py

recursive-include docs *
recursive-include src/hope_country_report *

exclude .coverage
exclude .coveragerc
exclude .flake8
exclude .isort.cfg
exclude .gitignore
exclude .dockerignore
exclude conftest.py
exclude tox.ini
exclude tests
exclude ~*

exclude .circleci
exclude docs

exclude setup.in
exclude src/hope_country_report/media

recursive-exclude src/hope_country_report/media *
recursive-exclude .circleci *
recursive-exclude dist *
recursive-exclude docs *
recursive-exclude db *
recursive-exclude db_dumps *
recursive-exclude .tox *
