

body.web {

  .helptext {
    @apply text-xs italic;
  }

  select {
    @apply rounded py-1;
  }

  .select2-container {
    height: 40px;

    .selection {
      height: 40px;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
      background-position: right 0.5rem center;
      background-repeat: no-repeat;
      background-size: 1.5em 1.5em;

      .select2-selection {
        height: 40px;
        border-color: red;

        .select2-selection__rendered {
          @apply py-2;
        }

        .select2-selection__arrow {
          display: none;
        }
      }
    }
  }
}
