.box {
  @apply mb-2 bg-white drop-shadow-md rounded p-4 ;
  h3 {
    @apply font-extrabold text-sm;
  }
}

* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body.web {
  .button {
    @apply text-white font-bold py-2 px-4 rounded focus:outline-none cursor-pointer;
    &.small {
      @apply py-1 px-2;
    }
    &.primary {
      @apply bg-unicef-blue hover:bg-unicef-dark;
    }

    &.secondary {

    }
  }

  header {
    img {
      height: 64px;
    }
  }

  table.report-detail {
    @apply w-3/4 m-auto;
    tr {
      th {
        @apply text-left w-1/3 capitalize;
      }
    }
  }

  table.document-list {
    @apply w-3/4 m-auto mt-10;
    th {
      @apply capitalize;
    }

  }


  svg.sidebar-button  {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
  }

  .OfficeReportLisyView {
    @apply bg-gray-100;
  }

  input, select {
    @apply text-black;
  }

  .breadcrumbs {
    @apply flex bg-unicef-blue;
    ul {
      @apply flex;
      li {
        @apply px-2;
      }
    }
  }

  .messages {
    @apply top-10 border-black drop-shadow-md rounded px-2 flex absolute  z-50 items-center;
    .message {
      @apply p-4 bg-red-400 w-full rounded top-10 font-bold;
      &.success {
        @apply bg-green-300 text-green-800;
      }

      &.error {
        @apply bg-red-400 text-red-900;
      }

      &.warning, &.warn {
        @apply bg-yellow-300 text-yellow-900;
      }
    }
  }

  h1 {
    @apply text-2xl mb-4;
  }

  small {
    @apply text-sm;
  }

  .tag {
    @apply text-xs font-medium mr-2 px-2.5 py-0.5 rounded;

    &.blue {
      @apply bg-blue-100 text-blue-800  dark:bg-blue-900 dark:text-blue-300
    }

    &.gray {
      @apply bg-gray-100 text-gray-800  dark:bg-gray-700 dark:text-gray-300
    }

    &.red {
      @apply bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300
    }

    &.yellow {
      @apply bg-yellow-100 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300
    }

    &.indigo {
      @apply bg-indigo-100 text-indigo-800 dark:bg-indigo-900 dark:text-indigo-300
    }

    &.purple {
      @apply bg-purple-100 text-purple-800  dark:bg-purple-900 dark:text-purple-300
    }

    &.green {
      @apply bg-purple-100 text-green-800  dark:bg-purple-900 dark:text-purple-300
    }
  }

  ul.menu {
    li {
      @apply h-12;
      a {
      }

      &.selected {
        @apply bg-white;
      }

      :hover {
        @apply bg-gray-300;
      }
    }
  }
}

body.api {
  .wrapper {
    .navbar {
      @apply bg-unicef-blue text-white border-0;
      .navbar-brand {
        @apply bg-unicef-blue text-white;
      }
    }

  }

  h1 {
    font-size: 36px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
  }
}


@tailwind base;
@tailwind utilities;
/*
//@tailwind components;
//

**/

body.web {

  .helptext {
    @apply text-xs italic;
  }

  select {
    @apply rounded py-1;
    border-color: #aaa;

  }

  .select2-container {
    .selection {

      .select2-selection {
        height: 36px;

        .select2-selection__rendered {
          @apply py-1;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
          background-position: right 0.5rem center;
          background-repeat: no-repeat;
          background-size: 1.5em 1.5em;
        }

        .select2-selection__arrow {
          display: none;
        }
      }
    }
  }
}
